@charset "UTF-8";

* {
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --gradient: linear-gradient(
        to left,
        #DA09E4,
        #B53EF6,
        #8E5FF1,
        #469EE6,
        #13CAE1,
        #469EE6,
        #8E5FF1,
        #B53EF6,
        #DA09E4
    );
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../img/wallpaper.png');
    background-size: cover;
}

section {
    width: 500px;
    height: 95vh;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 55% 30%;
    text-align: center;
    padding: 65px 60px;
}

h1 {
    font-weight: bold;
    font-size: 39px;
    line-height: 46.8px;
    letter-spacing: 0px;
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    align-self: start;
    font-size: 14px;
    color: #333333;
}

a {
    text-decoration: none;
    color: white;
}

.container-icone-input{
    position: relative;
    display: flex;
    width: 100%;
    gap: 15px;
    margin: 20px 0px 35px 0px;
    padding-left: 8px;
    color: #a8a8a8;
    padding-bottom: 10px;
    border-bottom: 2px solid #D9D9D9;
}

.container-icone-input:focus-within i{
    color: #95089c;
}

.container-icone-input::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
}

.container-icone-input:focus-within ::after {
    animation-name: carregar-borda;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    content: ' ';
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #7F7F7F;
}

@keyframes carregar-borda {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes descarregar-borda {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}




.container-icone-input:nth-of-type(2) {
    margin: 20px 0px 5px 0px;
}

.container-icone-input input{
    width: 100%;
    border: none;
    outline: none;
}

.forgot-password {
    font-size: 14px;
    line-height: 23.8px;
    letter-spacing: 0px;
    color: #666666;
    align-self: flex-end;
    margin-bottom: 30px;
}

.forgot-password:hover {
    color: #A64BF4;
    transition: 0.5s;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 160px;
}

li {
    font-size: 22px;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    list-style: none;
    display: grid;
    place-content: center;
}

ul > li:hover{
    background-color: rgb(61, 61, 61);
    transition: background 0.5s;
    cursor: pointer;
}

li:nth-of-type(1) {
    color: white;
    background-color: #4267B2;
}

li:nth-of-type(2) {
    color: white;
    background-color: #00acee;
}

li:nth-of-type(3) {
    color: white;
    background-color: #DB4437;
}



button {
    width: 100%;
    padding: 15px;

    background-image: var(--gradient);
    border-radius: 50px;
    border: none;
    background-size: 200%;
    background-position: right;

    color: white;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0px;
    font-weight: medium;

    cursor: pointer;

    transition: background 0.3s;
}

button:hover {
    background-size: 200%;
    background-position: left;
    transition: background 0.3s;
}

.sign-using, .sign-up {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #666666;
    margin-bottom: 20px;
}

.sign-up {
    color: #333333;
}

.sign-up:hover {
    color: #A64BF4;
    transition: all 1s;
}