@charset "UTF-8";

* {
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --gradient: linear-gradient(
        to left,
        #DA09E4,
        #B53EF6,
        #8E5FF1,
        #469EE6,
        #13CAE1,
        #469EE6,
        #8E5FF1,
        #B53EF6,
        #DA09E4
    );
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    gap: 50px;
    display: grid;

}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

li {
    font-size: 22px;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    list-style: none;
    display: grid;
    place-content: center;
}

ul > li:hover{
    background-color: rgb(61, 61, 61);
    transition: background 0.5s;
    cursor: pointer;
}

li:nth-of-type(1) {
    color: white;
    background-color: #4267B2;
}

li:nth-of-type(2) {
    color: white;
    background-color: #00acee;
}

li:nth-of-type(3) {
    color: white;
    background-color: #DB4437;
}

button {
    width: 70%;
    padding: 15px;

    background-image: var(--gradient);
    border-radius: 50px;
    border: none;

    color: white;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0px;
    font-weight: medium;

    cursor: pointer;

    background-size: 200%;
    background-position: right;

    transition: background 0.3s;
}

button:hover {
    background-size: 200%;
    background-position: left;

    transition: background 0.3s;
}